@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,400&display=swap');
/* body{
  color: blue
} */
*{
  font-family: 'Montserrat', sans-serif;
  /* margin:0;
  padding:0;
  box-sizing:border-box; */
  font-size: 15px;
}

:root{
  --primary-color:#1E3A8A;
  --secondary-color:#f0c761;
  --white:#ffffff;
  --tomato-red:#c43333;
  --light-green:#A7F3D0;

}

.container-fluid{
  padding-left: 2rem;
  padding-right: 2rem;
}

.container{
  margin:auto;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 600px;
}
.link{
  padding: 0.5rem 1rem;
  text-decoration: none;
  width:max-content;
  color: white;
}
/* .primary{
  padding:0.5rem 1rem;
  border: 0.5px solid #000;
  border-radius: 10px;
  color:white;
  background-color: blue;
  text-decoration: none;
  margin: 1rem 1rem;
}

.secondary{
  padding:0.5rem 1rem;
  border: 0.5px solid #000;
  border-radius: 10px;
  color:yellow;
  background-color: brown;
  text-decoration: none;
  margin: 1rem;
} */
.primary{
  margin:1rem;
  border:1px solid var(--primary-color);
  border-radius: 0.5rem ;
  background-color: var(--primary-color);
  color:var(--secondary-color); 
}
.primary:hover{
  background-color: var(--secondary-color);
  color:var(--primary-color); 
  transition: 0.5sec;
  border:2px solid var(--secondary-color);
}

.secondary{
  margin:1rem;
  border:1px solid var(--tomato-red);
  border-radius: 0.5rem ;
  background-color: var(--tomato-red);
  color:var(--white); 
}
.secondary:hover{
  background-color: blueviolet;
  color:white;
  transition:4sec;
  border: 2px dashed red;
  border-radius: 15px;
}
.unlisted{
  list-style: none;
}

.unordered li{
  display: inline;
  padding:0rem 0.5rem;
}

.navigate{
  background-color: var(--tomato-red);
  padding: 1rem 0rem;
  color:white;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem ;
  position: relative;
  
}
.navigate .brand-name{
  padding: 0rem 1rem;
  width:max-content;
  font-weight: 700;
  color:white;
  position: absolute;
}
.navigate ul{
  list-style: none;
  text-align: right;

}
.navigate ul li a{
  font-weight: 1000;

}
.navigate ul li a.pass{
  color:white;
}
.unordered-nav li{
  display: inline;
  padding:0rem 0.5rem;
  border-bottom: 3rem;
}

.hero{
  color:var(--primary-color);
  display:block;
}
.hero img{
  max-width: 350px;
  margin:auto;
  display: block;
}
.hero img.profile{
  border-radius: 50%;
  border: 1px solid #000;
  height:50%;
  width:50%;
}
section{
  padding: 0.3rem 0;
}
section h4{
  text-align: center;
  font-weight: bold;
}
section p.sec{
  font-style: italic;
}
.s-two{
  background-color: coral;
  margin: 40px;
  border-radius: 20px;
}
.s-two h4{
  color:brown;
  text-align: center;
  font-weight: bold;
}
.s-two p{
  padding: 0 2rem;
}

.primary-outline{
  margin:1rem;
  border:1px solid var(--primary-color);
  border-radius: 0.5rem ;
  color:blueviolet; 
}
.secondary-outline{
  margin:1rem;
  border:1px solid var(--tomato-red);
  border-radius: 0.5rem;
  color:green; 
}

footer{
  background-color: rgb(165, 145, 145) ;
  padding: 1rem;
  border-radius: 20px;
  text-align: center;
  margin: 5px auto;
}
.foot{
  color:rgb(4, 5, 49);
  font-weight: bold;
}
footer ul{
  list-style: none;
  text-align: center;
}
footer ul li{
  padding: 1rem;
  display: inline;
  
}
footer ul li a{
  text-decoration: none;
  color:rgb(4, 5, 49);
}
footer ul li a:hover{
  color:whitesmoke;
  border-radius: 20px;
  padding: 0.5rem;
}

.para{
  margin-bottom: 1.5rem;
}
.btn-1{
  margin-left: 9rem;
  margin-right: 17rem;
  padding: 1rem;
  background-color:darkorange;
  color: black;
  border: 1px solid darkorange;
  font-size: 15px;
  font-weight: bold;
  border-radius: 20px;
  margin-bottom: 1.5rem;
}
.btn-1:hover{
  background-color: black;
  color: darkorange;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 20px;
}
.btn-2{
  padding: 1rem;
  background-color: darkorange;
  color: black;
  border: 1px solid darkorange;
  margin-right: 20rem;
  font-size: 15px;
  font-weight: bold;
  border-radius: 20px;
  margin-bottom: 1.5rem;
}
.btn-2:hover{
  background-color: black;
  color: darkorange;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 20px;
}
.btn-3{
  padding: 1rem;
  background-color: darkorange;
  color: black;
  border: 1px solid darkorange;
  font-size: 15px;
  font-weight: bold;
  border-radius: 20px;
  margin-bottom: 1.5rem;
}
.btn-3:hover{
  background-color: black;
  color: darkorange;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 20px;
}
.hidden{
  display: none;
}
.modal-1{
  position: absolute;
  top: 425%;
  left: 25%;
  transform: translate(-50% -50%);
  width: 50%;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  z-index: 10;
}
.modal-2{
  position: absolute;
  top: 425%;
  left: 25%;
  transform: translate(-50% -50%);
  width: 50%;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  z-index: 10;
}
.modal-3{
  position: absolute;
  top: 425%;
  left: 25%;
  transform: translate(-50% -50%);
  width: 50%;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  z-index: 10;
}
.btn-close-1{
  position: absolute; 
  top: 1rem;
  right: 2rem;
  font-size: 3rem;
  background: none;
}
.btn-close-2{
  position: absolute; 
  top: 1rem;
  right: 2rem;
  font-size: 3rem;
  background: none;
}
.btn-close-3{
  position: absolute; 
  top: 1rem;
  right: 2rem;
  font-size: 3rem;
  background: none;
}
.cool{
  margin-top: 3.5rem;
  font-size: 1.5em;
  margin-bottom: 0;
}
.overlay{
  position:absolute;
  top: 0;
  left: 0;
  bottom:0;
  z-index: 5;
  width: 100%;
  height: 500%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
}


